<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.touhidapps.myemployee">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.touhidapps.myemployee.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.touhidapps.myemployee.AdminPanel"
            android:label="@string/title_activity_admin_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.touhidapps.myemployee.NewEmployee"
            android:label="@string/title_activity_new_employee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.touhidapps.myemployee.UpdateInformation"
            android:label="@string/title_activity_update_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.touhidapps.myemployee.EmployeeDetails"
            android:label="@string/title_activity_employee_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.touhidapps.myemployee.DepartmenDetails"
            android:label="@string/title_activity_departmen_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.touhidapps.myemployee.DesignationDetails"
            android:label="@string/title_activity_designation_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.touhidapps.myemployee.ReportPanel"
            android:label="@string/title_activity_report_panel"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>